body {  
    font-family:Times serif;    
    width:100%;
    color:white;
      
}

#nav{
    display:flex;
    justify-content: right;
    width:80%;
}

nav li a{
    height:20px;   
}

nav ul {
   list-style-type: none;
   height:15px;
}

a {
    color:white;
    padding-right:8px;
    padding-left:8px;
    text-decoration: none;
}

a:hover {
    background-color: #626262;
    color:white
}

#flex-container{
    display:flex; 
    flex-wrap: wrap;
}

.flex-item0{
    display:flex; 
    flex-wrap: wrap;
    background-image: url(images1/banner.png);
    width:100%;
}

.flex-item0>p{
    text-align: left;
    width: 30%; 
}

#slogan{
    width: 100%;
    text-align:center;
}

.flex-item1{
    display:flex;
    background-color:#ffc155;
    width:100%;
    
}

.flex-item1>p{
    width:50%;
}

.flex-item1>img{
    width:50%;
}

.flex-item2{
    background-color:#bc3183;
    width:100%;

}
.flex-item2>img{
    width:100%;
}


.flex-item3{
    background-color:#5b0fa1;
    width:100%;

}

.flex-item4{
    background-color:#ebebeb;
    color:black;
    width:100%;

}



h2 {
    color:#088ea7; 
}